Nikita.Assist.Uploader/Service References/ServiceReference1/H.M.WcfDataLayer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/H.M.WcfDataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/H.M.WcfDataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MethodRequest">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ParamIndex" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ParamKeys" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ParamVals" nillable="true" type="q2:ArrayOfanyType" />
      <xs:element minOccurs="0" name="ProceDb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodRequest" nillable="true" type="tns:MethodRequest" />
</xs:schema>