Nikita.Base.Services/Service References/SendMessageService/SendMessageService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nikita.Assist.WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nikita.Assist.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CacheKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataTableCache" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageEntity" nillable="true" type="tns:MessageEntity" />
</xs:schema>